/* Transparent background color is a IE10 hack to get click event*/
.h5p-image-hotspot-question .image-hotspot {
  position: absolute;
  background-color: rgba(0,0,0,0);
}

.h5p-image-hotspot-question .image-hotspot.circle {
  border-radius: 50%;
}

.h5p-image-hotspot-question .image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.h5p-image-hotspot-question .h5peditor .file img {
  max-width: 500px;
}

/* Image loader */
.h5p-image-hotspot-question .image-loader {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

.h5p-image-hotspot-question .image-loader:after {
  position: absolute;
  content: "";
  background: url('https://h5p.org/sites/all/themes/professional_themec/images/h5p.svg') no-repeat center;
  background-size: 50% 50%;
  width: 100%;
  height: 100%;
}

.h5p-image-hotspot-question .image-loader.loading:after {
  -webkit-animation: spinning 3s infinite ease-in-out;
  animation: spinning 3s infinite ease-in-out;
}
@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
}

/* Feedback circles */
.h5p-image-hotspot-question .hotspot-feedback {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e6ced1;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #c33f62;
  font-size: 16px;
  visibility: hidden;
  pointer-events: none;
}

.h5p-image-hotspot-question .hotspot-feedback:before {
  font-family: "H5PFontAwesome4";
  content: "\f00d";
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 32px;
}

/* Correct feedback */
.h5p-image-hotspot-question .hotspot-feedback.correct {
  background: #d1e2ce;
  color: #39692e;
}

.h5p-image-hotspot-question .hotspot-feedback.correct:before {
  content: "\f00c";
}

/* Already selected feedback */
.h5p-image-hotspot-question .hotspot-feedback.already-selected {
  background: #fcf8e3;
  color: #8a6d3b;
}

.h5p-image-hotspot-question .hotspot-feedback.already-selected:before {
  content: "\f12a";
}

/* Hotspot feedback animation*/
.h5p-image-hotspot-question .hotspot-feedback.fade-in{
  animation-name: fade-in;
  -webkit-animation-name: fade-in;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

.h5p-image-hotspot-question .h5p-question-content {
  margin-left: 0;
  margin-right: 0;
}

@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  30% {
    -webkit-transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}


/* Intro */

.h5p-image-hotspot-question .h5p-question-introduction {
  margin: 0;
}
.h5p-image-hotspot-question .h5p-question-content {
  margin-top: 0;
}
.h5p-image-hotspot-question-intro-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%
}

.h5p-image-hotspot-question-intro {
  color: #000000;
  font-size: 1.125em;
  line-height: 1;
  padding: 1em;
}

.h5p-image-hotspot-question-intro.hasAudio {
  padding: 1em 1em 1em 0;
}

/* Audio button */
.h5p-image-hotspot-question-audio-wrapper {
  flex-shrink: 0;
  height: 2em;
  padding: 1em;
  width: 2em;
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-button {
  font-family: 'H5PFontAwesome4';

  display: block;
  padding: 0.3em;

  font-size: 1em;
  border: 0.1em solid #fff;
  border-radius: 50%;

  cursor: pointer;
  color: #fff;
  text-decoration: none;

  background: rgb(100,152,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(100,152,254,1) 0%, rgba(4,104,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,152,254,1)), color-stop(100%,rgba(4,104,206,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* IE10+ */
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-button:hover {
  cursor: pointer;
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-button..h5p-image-hotspot-question-audio-disabled {
  background: -webkit-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(105, 105, 105, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(105, 105, 105, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(177, 177, 177, 1) 0%, rgba(105, 105, 105, 1) 100%);
  /* IE10+ */
  color: #e9e9e4;
  cursor: inherit;
  pointer-events: none;
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-play:before {
  content: "\f028";
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-play-paused,
.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-pause {
  background: rgb(38,170,68); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(38,170,68,1) 0%, rgba(0,112,10,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,170,68,1)), color-stop(100%,rgba(0,112,10,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(38,170,68,1) 0%,rgba(0,112,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(38,170,68,1) 0%,rgba(0,112,10,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(38,170,68,1) 0%,rgba(0,112,10,1) 100%); /* IE10+ */
}
.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-play-paused:before {
  content: "\f04b";
}

.h5p-image-hotspot-question-audio-wrapper .h5p-image-hotspot-question-audio-minimal-pause:before {
  content: "\f04c";
}

.editor .h5p-image-hotspot-question-audio-transparent {
  position: relative;
  box-sizing: border-box;
  padding: -2px;
  border: 2px dashed #0468ce;
  border: 2px dashed rgba(4,104,206,0.5);
  height: 100%;
}

.editor .h5p-image-hotspot-question-audio-transparent:before {
  color: #0468ce;
  opacity: 0.25;
  content: "\f028";
  font-family: 'H5PFontAwesome4';
  font-size: 1.0em;
  text-decoration: none;
  padding-left: 0.25em;
}

.h5p-image-hotspot-question-audio-wrapper.h5p-image-hotspot-question-audio-transparent .h5p-image-hotspot-question-audio-minimal-button {
  display: block;
  cursor: pointer;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  font-size: 0.8em;
  border: 0;
  background: transparent;
  border-radius: 0;
}

.h5p-image-hotspot-question-audio-wrapper.h5p-image-hotspot-question-audio-transparent .h5p-image-hotspot-question-audio-minimal-button:hover {
  background: #0580e2;
  opacity: 0.2;
}

.h5p-image-hotspot-question-audio-wrapper.h5p-image-hotspot-question-audio-transparent .h5p-image-hotspot-question-audio-minimal-button:active {
  background: #0580e2;
  opacity: 0.4;
}

.h5p-image-hotspot-question-audio-wrapper.h5p-image-hotspot-question-audio-transparent .h5p-image-hotspot-question-audio-minimal-play:before,
.h5p-image-hotspot-question-audio-wrapper.h5p-image-hotspot-question-audio-transparent .h5p-image-hotspot-question-audio-minimal-pause:before {
  content: none;
}
